* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2dcebc;
    border-radius: 6px;
}

*::-webkit-scrollbar-track {
    background-color: #1a130f;
    border-radius: 6px;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #006466, #272640);
    min-height: 100vh;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.header {
    height: 50px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex: 1;
    padding: 10px;
}

.sidebar {
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 10px;
    width: 175px;
    min-width: 120px;
    overflow: hidden;
}

.canvas-container {
    border: 3px solid #2dcebc;
    background-color: #1a130f;
    border-radius: 15px;
    min-width: 85vw;
    min-height: 80vh;
}

.footer {
    height: 30px;
    text-align: center;
    margin-top: 15px;
    color: #2dcebc;

}

canvas {
    background: none;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.main-menu {
    color: #272640;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}


.menu-line {
    border: none;
    border-top: 4px solid #272640;
    margin-bottom: 15px;
    width: 100%;
}

.sidebar-button {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-top: 5px;
    background-color: #272640;
    width: 100%;
    text-align: center;
    color: #2dcebc;
    height: 35px;
    border: solid #2dcebc 1px;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.7s;
    font-size: 18px;
}

.sidebar-button:hover {
    background-color: #2dcebc;
    color: #272640;
    border: solid #272640 3px;
    transform: scale(1.1);
}

.notification-bar {
    display: none;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 35%;
    height: 35px;
    font-size: 15px;
    background-color: #272640;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.notification-bar.show {
    position: absolute;
    display: block;
    animation: slideDown 1.3s forwards;
    z-index: 9999;
}

#notification-message {
    font-weight: bold;
    font-size: 20px;
}

@keyframes slideDown {
    from {
        top: -50px;
    }

    to {
        top: 55px;
    }
}

.notification-bar .notification-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.notification-bar .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.progress-bar.active {
    animation: progress 1.5s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.on-canvas-popup {
    display: none;
    position: absolute;
    z-index: 10000;
}

.on-canvas-popup .sidebar-button {
    text-align: left;
    text-wrap: none;
    width: 100%;
    height: 30px;
    font-size: 15px;
}

.on-canvas-popup .sidebar-button:hover {
    text-wrap: none;
    height: 30px;
    font-size: 15px;
}

.graph-actions-popup {
    border: 2px solid #2dcebc;
    border-radius: 10px;
    background-color: #006466;
    width: 150px;
}


.graph-actions-popup .sidebar-button {
    width: 100%;
    text-align: center;
}

.create-graph-button-container {
    display: flex;
    width: 100%;
}

.create-graph-popup label {
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 18px;
    color: #2dcebc;
    font-weight: bold;
}

.create-graph-popup button {
    flex: 1;
    margin: 5px;
    cursor: pointer;
}

.create-graph-popup input[type="text"] {
    width: 63%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #2dcebc;
    background-color: #272640;
    color: #2dcebc;
    border-radius: 4px;
    text-align: center;
}


.sidebar-button.create-graph-button {
    background-color: #2dcebc;
    color: #272640;
}

.sidebar-button.create-graph-button:hover {
    background-color: greenyellow;
    color: #272640;
}

.popup-content h3 {
    text-align: center;
    color: #2dcebc;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    background-color: #272640;
    border: 1px solid #2dcebc;
    border-radius: 5px;
    padding: 10px;
    color: #2dcebc;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form .sidebar-button {
    width: 50%;
    margin: 5px 0 0;
}

.checkbox {
    display: flex;
    align-items: center;
    color: #2dcebc;
}

#popup-container-login .popup-content {
    width: 60%;
}

.fail-message {
    display: none;
    padding: 5px;
    color: red;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}