<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Web</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="main-container">
    <header class="header">
        Header
    </header>
    <div class="content">
        <aside class="sidebar">
            <div><b>Main Menu</b></div>
            <button>Button1</button>
            <br/>
            <button>Button2</button>
            <br/>
            <button>Button3</button>
        </aside>
        <div id="canvas-container" class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <footer class="footer">
        Copyright © 2024 jerzyboksa.com
    </footer>
</div>
<script src="../static/js/scripts.js"></script>
<script type="module" src="../static/js/canvas_utils.js"></script>
<script type="module" src="../static/js/graph_service.js"></script>
<script type="module" src="../static/js/canvas.js"></script>
</body>
</html>