<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Web</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/popup.css">

</head>
<body>
<div class="main-container">
    <header class="header">
        Header
    </header>
    <div id="add-vertex-popup" class="on-canvas-popup">
        <button id="add-vertex-button" class="sidebar-button">Add Vertex</button>
    </div>
    <div id="graph-actions-popup" class="on-canvas-popup graph-actions-popup">
        <button id="delete-vertex-button" class="sidebar-button">Delete Vertex</button>
        <button id="select-to-edge-button" class="sidebar-button">Select to add edge</button>
    </div>
    <div id="delete-edge-popup" class="on-canvas-popup delete-edge-popup">
        <button id="delete-edge-button" class="sidebar-button">Delete Edge</button>
    </div>
    <div id="notification-bar" class="notification-bar">
        <div class="notification-content">
            <span id="notification-message"></span>
        </div>
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <div class="content">
        <div class="popup-container" id="popup-container"></div>
        <aside class="sidebar">
            <div class="main-menu"><b>Main Menu</b></div>
            <hr class="menu-line">
            <button id="your-graphs-button" class="sidebar-button">Your Graphs</button>
            <button class="sidebar-button">Save Graph</button>
            <button class="sidebar-button">Info</button>
        </aside>
        <div id="canvas-container" class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <footer class="footer">
        Copyright © 2024 Jerzy Boksa
    </footer>
</div>
<script type="module" src="../static/js/main.js"></script>
</body>
</html>