<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Web</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="main-container">
    <header class="header">
        Header
    </header>
    <div class="content">
        <div class="popup-container" id="popup-container"></div>
        <aside class="sidebar">
            <div class="main-menu"><b>Main Menu</b></div>
            <hr class="menu-line">
            <button id="your-graphs-button" class="sidebar-button">Your Graphs</button>
            <button class="sidebar-button">Save Graph</button>
            <button class="sidebar-button">Info</button>
        </aside>
        <div id="canvas-container" class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <footer class="footer">
        Copyright © 2024 jerzyboksa.com
    </footer>
</div>
<script src="../static/js/scripts.js"></script>
<script type="module" src="../static/js/canvas_utils.js"></script>
<script type="module" src="../static/js/graph_service.js"></script>
<script type="module" src="../static/js/canvas.js"></script>
</body>
</html>